<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../home.css" />
    <link rel="icon" href="data:" />
  </head>
  <body>
    <!-- <button onclick="window.open('http://localhost:5000/login','_blank')">
      Log In
    </button> -->
    <div class="box shadow">
      <a href="http://localhost:5000/login"
        ><button class="bn632-hover bn27">Log In</button></a
      >
      <a href="http://localhost:5000/signup"
        ><button class="bn632-hover bn27">Sign Up</button></a
      >
    </div>

    <!-- <button onclick="window.open('http://localhost:5000/signup','_blank')">
      Sign Up
    </button> -->
  </body>
</html>
