<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Got you</title>
    <link rel="stylesheet" href="../userinfo.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= info.name %></h1>
      <h1><%= info.roll_no %></h1>
      <h1><%= info.email %></h1>
      <h1>Hall of Residence: <%= info.hall_name %></h1>
    </div>
  </body>
</html>
